<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="C:\Users\HP\Documents\angular\samplProj\src\app\dashboard\dashboard.component.css">

</head>

<body>
    <div class="header">
        <div class="hdr1">
            <span>Welcome!</span><br>
            <a href="">Sign in</a><span class="hdrspn">|</span><a href="">Register</a>
        </div>
        <div class="resform">
            <form method="post">
                <h2>Sign up</h2>

                <div class="fname">
                    <label>First name</label><br>
                    <input type="text" name="firstname" id="firstname" autofocus>
                </div>
                <div class="lname">
                    <label>Last name</label><br>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="email">
                    <label>Email</label><br>
                    <input type="email" name="email" id="email">

                </div>
                <div class="radio">
                    <input type="radio" name="genter" id="radio" value="Male">Male
                    <input type="radio" name="genter" id="radio" value="Female">Female
                </div>
                <div class="cyloc">
                    <label>City</label><br>
                    <input type="text" name="city" id="city">

                </div>
                <div class="coloc">
                    <label>Country</label><br>
                    <select id="loc">
                        <option>United Nations</option>
                        <option>India</option>
                        <option>Europe</option>
                    </select>
                </div>
                <div class="crpass">
                    <label>Create password</label><br>
                    <input type="password" name="pass" id="crpass">
                </div>
                <div class="repass">
                    <label>Repeat password</label><br>
                    <input type="password" name="pass" id="repass">
                </div>
                <div class="submit">
                    <input type="submit" name="submit" id="submit" value="Register">
                </div>
                <div class="check">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <span>I am agree with</span><a href=""> terms and conditions</a>
                </div>
            </form>
            <div class="login">
                <p>Have an account? <a href="">Log in</a></p>
            </div>
        </div>
        <div class="footer">
            <div class="terms">
                <a href="">Terms and Conditions</a>
            </div>
            <div class="copyright">
                <span>@copyright 2022 all rights reserved</span>
            </div>


        </div>
    </div>

</body>

</html>